[Desktop Entry]
Encoding=UTF-8
Name=Klimatas
Comment=Klimatas P2P Cryptocurrency
Comment[fr]=Klimatas, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Klimatas, eşten eşe kriptografik sanal para birimi
Exec=klimatas-qt %u
Terminal=false
Type=Application
Icon=klimatas128
MimeType=x-scheme-handler/klimatas;
Categories=Office;Finance;
