[Desktop Entry]
Encoding=UTF-8
Name=KTS
Comment=KTS P2P Cryptocurrency
Comment[fr]=KTS, monnaie virtuelle cryptographique pair à pair
Comment[tr]=KTS, eşten eşe kriptografik sanal para birimi
Exec=kts-qt %u
Terminal=false
Type=Application
Icon=kts128
MimeType=x-scheme-handler/kts;
Categories=Office;Finance;
